<!doctype html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title id="page-title">Alprim</title>
  <link rel="stylesheet" href=" css/styles.css">
   <script src="js/include.js" defer></script>
</head>
<body>
    
  <!-- <header class="header">
    <div class="container nav">
      <a class="logo" href="index.html" aria-label="Alprim">
        <img src="assets/img/logo.svg" alt="Логотип Alprim" width="28" height="28"/>
        <span>Alprim</span>
      </a>
      <nav class="nav" style="margin-left:auto">
        <a href="index.html">Главная</a>
        <a href="services.html">Услуги</a>
        <a href="clients.html">Наши клиенты</a>
        <a href="news.html">Новости</a> -->
        <!-- <a href="contact.html">Обратная связь</a>
      </nav>
    </div>
  </header> -->

  <!-- <main id="content" class="container"></main> -->

  <footer class="footer">
    <div class="container">
      <div class="row">
        <div>
          <div class="logo"><img src="assets/img/logo.svg" width="24" height="24" alt=""/> Alprim</div>
          <small class="muted">Инженерные решения: электромонтаж, сигнализация, освещение.</small>
        </div>
        <div>
          <div><small class="muted">Контакты</small></div>
          <div>Email: <a href="mailto:gomelalprim@gmail.com">gomelalprim@gmail.com</a></div>
          <div>Моб.: <a href="tel:+375(29)532-22-77">+375(29)532-22-77</a></div>
        </div>
      </div>
      <div style="margin-top:14px"><small class="muted">© <span id="year"></span> Alprim. Все права защищены.</small></div>
    </div>
  </footer>

  <script src="js/main.js"></script>
</body>
</html>
